Repository gohyuhan/gitti: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, goimports, go-vet, go-mod-tidy, golangci-lint

.pre-commit-config.yaml:

# .pre-commit-config.yaml
 repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict

  # Go-specific hooks
  - repo: local
    hooks:
      # Format code with gofmt
      - id: go-fmt
        name: go fmt
        entry: go fmt ./...
        language: system
        pass_filenames: false
        types: [go]

      # Format imports and remove unused ones
      - id: goimports
        name: goimports
        entry: bash -c 'goimports -w -local gitti $(find . -type f -name "*.go" | grep -v vendor/)'
        language: system
        pass_filenames: false
        types: [go]

      # Run go vet for static analysis
      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        pass_filenames: false
        types: [go]

      # Clean up go.mod and go.sum
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        pass_filenames: false
        files: 'go\.(mod|sum)$'

      # Run golangci-lint for comprehensive linting
      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --fix
        language: system
        pass_filenames: false
        types: [go]

  # Security scanning
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

Update and changes to cmd to be rename to executor to be more straight forward and upate git path utils to support submodule
  api/daemon.go
  api/git/branch.go
  api/git/commit.go
  api/git/files.go
  api/git/log.go
  api/git/pull.go
  api/git/stash.go
  api/types.go
  api/utils.go
  cmd/cmd.go
  config/config.go
  executor/executor.go
  main.go
  utils/utils.go
Due: go-fmt, goimports, go-vet, golangci-lint

Update for handling straeming of output from command execution
  api/git/commit.go
  api/git/pull.go
  api/git/utils.go
Due: go-fmt, goimports, go-vet, golangci-lint

fix on the validation for git branch naming during creation and also for git remote info output parsing
  api/git/commit.go
  api/utils.go
Due: go-fmt, goimports, go-vet, golangci-lint

some fix and improvement on key binding interaction and service for popup that require user input
  api/utils.go
  tui/interact.go
  tui/services.go
Due: go-fmt, goimports, go-vet, golangci-lint

Update to change Gitti status to be git status
  api/types.go
  api/utils.go
  config/config.go
  constant/constant.go
  i18n/en.go
  i18n/ja.go
  i18n/types.go
  i18n/zh-hans.go
  i18n/zh-hant.go
  main.go
  settings/settings.go
  tui/constant/constant.go
  tui/init.go
  tui/render.go
  tui/style/style.go
  tui/tui.go
  tui/types.go
  tui/view.go
Due: go-fmt, goimports, go-vet, golangci-lint

fix for git pull update channel return status
  api/git/pull.go
Due: go-fmt, goimports, go-vet, golangci-lint

Isolate out git remote from git commit
  api/git/commit.go
  api/git/remote.go
  api/git/utils.go
  api/types.go
  api/utils.go
  tui/init.go
  tui/interact.go
  tui/services.go
Due: go-fmt, goimports, go-vet, golangci-lint

Update to show remote sync status on git status component panel
  api/daemon.go
  api/git/remote.go
  api/git/status.go
  api/types.go
  api/utils.go
  config/config.go
  main.go
  settings/settings.go
  tui/init.go
  tui/interact.go
  tui/popup.go
  tui/render.go
  tui/services.go
  tui/style/style.go
  tui/tui.go
  tui/types.go
Due: go-fmt, goimports, go-vet, golangci-lint

Create an auto updater
  settings/settings.go
  tui/style/style.go
  updater/init.go
  updater/updater.go
Due: go-fmt, goimports, go-vet, golangci-lint

update to git push
  api/daemon.go
  api/git/commit.go
  api/git/remote.go
  api/git/status.go
  api/git/utils.go
  tui/init.go
  tui/render.go
  tui/services.go
  tui/tui.go
  tui/types.go
Due: go-fmt, goimports, go-vet, golangci-lint

Improvement and some fix in styling and interaction key binding
  api/git/remote.go
  constant/constant.go
  i18n/en.go
  i18n/ja.go
  i18n/zh-hans.go
  i18n/zh-hant.go
  tui/interact.go
  tui/popup.go
  tui/render.go
  tui/style/style.go
  tui/tui.go
  tui/view.go
Due: go-fmt, goimports, go-vet, golangci-lint

update for auto updater
  i18n/en.go
  i18n/ja.go
  i18n/types.go
  i18n/zh-hans.go
  i18n/zh-hant.go
  updater/init.go
  updater/updater.go
Due: go-fmt, goimports, go-vet, golangci-lint

update to add feature for discard file changes
  api/git/files.go
  i18n/en.go
  i18n/ja.go
  i18n/types.go
  i18n/zh-hans.go
  i18n/zh-hant.go
  tui/constant/constant.go
  tui/init.go
  tui/interact.go
  tui/list.go
  tui/popup.go
  tui/render.go
  tui/services.go
  tui/types.go
Due: go-fmt, goimports, go-vet, golangci-lint

Some fix on git api and update for auto updater
  api/git/branch.go
  api/git/commit.go
  api/git/remote.go
  api/git/utils.go
  api/utils.go
  go.mod
  go.sum
  settings/settings.go
  tui/render.go
  tui/services.go
  tui/tui.go
  tui/types.go
  updater/updater.go
Due: go-fmt, goimports, go-vet, go-mod-tidy, golangci-lint

add in goreleaser
  .gitignore
  .goreleaser.yaml
Due: none

add github action for release as the trigger point and slight update on the goreleaser github owner name and add in install script (still empty)
  .github/workflows/release.yml
  .goreleaser.yaml
  install.ps1
  install.sh
Due: none

slight adjustment on how to retrive remote for push
  api/git/remote.go
Due: go-fmt, goimports, go-vet, golangci-lint

update the auto updater for zip or tar.gz binary extraction and also some minor fix and implement the updater into the current program start and initialization flow
  .goreleaser.yaml
  constant/constant.go
  main.go
  updater/updater.go
Due: go-fmt, goimports, go-vet, golangci-lint

update installation script readme and some update to github action
  .github/workflows/release.yml
  README.md
  install.ps1
  install.sh
Due: none

update goreleaser
  .goreleaser.yaml
Due: none

update for homebrew (macos) and scoop (window) install
  .github/workflows/release.yml
Due: none

Update readme
  README.md
Due: none

Update to enable or disable auto update through configuration and also prompt for update
  .github/workflows/release.yml
  config/config.go
  i18n/en.go
  i18n/ja.go
  i18n/types.go
  i18n/zh-hans.go
  i18n/zh-hant.go
  main.go
  settings/settings.go
  updater/updater.go
Due: go-fmt, goimports, go-vet, golangci-lint

minor fix and update readme
  .goreleaser.yaml
  README.md
  main.go
  updater/updater.go
Due: go-fmt, goimports, go-vet, golangci-lint

Update to include version flag to show current gitti version
  i18n/en.go
  i18n/ja.go
  i18n/types.go
  i18n/zh-hans.go
  i18n/zh-hant.go
  main.go
Due: go-fmt, goimports, go-vet, golangci-lint

minor fix on ja sentence wording for UpdaterAutoUpdateSetError
  i18n/ja.go
Due: go-fmt, goimports, go-vet, golangci-lint

update to replacement binary to handle `sudo` permission on unix system, and a info display fix
  i18n/en.go
  i18n/ja.go
  i18n/types.go
  i18n/zh-hans.go
  i18n/zh-hant.go
  tui/init.go
  updater/updater.go
Due: go-fmt, goimports, go-vet, golangci-lint

changes for git branch api for branch swtiching and minor update on readme
  README.md
  api/git/branch.go
Due: go-fmt, goimports, go-vet, golangci-lint

update to be compatible for go install
  api/daemon.go
  api/git/branch.go
  api/git/commit.go
  api/git/files.go
  api/git/lock.go
  api/git/log.go
  api/git/pull.go
  api/git/remote.go
  api/git/stash.go
  api/git/utils.go
  api/types.go
  api/utils.go
  config/config.go
  go.mod
  i18n/en.go
  i18n/i18n.go
  i18n/ja.go
  i18n/zh-hans.go
  i18n/zh-hant.go
  main.go
  settings/settings.go
  tui/init.go
  tui/interact.go
  tui/list.go
  tui/popup.go
  tui/render.go
  tui/services.go
  tui/tui.go
  tui/types.go
  tui/view.go
  updater/updater.go
Due: go-fmt, goimports, go-vet, go-mod-tidy, golangci-lint

update to support discard of newly added and untracked file
  api/git/files.go
  api/git/stash.go
  api/utils.go
  i18n/en.go
  i18n/ja.go
  i18n/types.go
  i18n/zh-hans.go
  i18n/zh-hant.go
  tui/init.go
  tui/interact.go
  tui/popup.go
Due: go-fmt, goimports, go-vet, golangci-lint

optimization: update goreleaser config
  .goreleaser.yaml
  README.md
Due: none

fix: fix the git api for create and also create and switch to also handle cases when the repo is in an unborn state
  api/git/branch.go
Due: go-fmt, goimports, go-vet, golangci-lint

refactor to stay compatible for bubbletea, bubble and lipgloss on its upcoming v2 release
  go.mod
  go.sum
  main.go
  tui/init.go
  tui/interact.go
  tui/list.go
  tui/popup.go
  tui/render.go
  tui/style/style.go
  tui/tui.go
  tui/types.go
  tui/view.go
  tui/worker.go
Due: go-fmt, goimports, go-vet, go-mod-tidy, golangci-lint

fix: fix the discard selection option
  api/git/files.go
  i18n/en.go
  i18n/ja.go
  i18n/zh-hans.go
  i18n/zh-hant.go
  tui/init.go
  tui/popup.go
Due: go-fmt, goimports, go-vet, golangci-lint

update readme.md
  README.md
Due: none

optimize: make changes to create and switch branch git operation api
  api/git/branch.go
Due: go-fmt, goimports, go-vet, golangci-lint

update for release for v0.1.1
  README.md
  constant/constant.go
  install.ps1
  install.sh
  tui/init.go
  tui/interact.go
  tui/render.go
Due: go-fmt, goimports, go-vet, golangci-lint

optimize: make changes to create and switch branch git operation api
  .goreleaser.yaml
  README.md
  api/git/branch.go
  install.sh
  tui/init.go
  tui/interact.go
  tui/render.go
Due: go-fmt, goimports, go-vet, golangci-lint

fix: handle checking for item selection before proceed to trigger action as item list can return nil
  tui/interact.go
Due: go-fmt, goimports, go-vet, golangci-lint

optimize: optimized the fetch file status git operation api as well as daemon to not recusively watch folder and files under .git/objects
  .gitignore
  api/daemon.go
  api/git/files.go
  executor/executor.go
  tui/render.go
Due: go-fmt, goimports, go-vet, golangci-lint
